a{
    color:#000;
}

#header{
    height:10%;
    width:100%;
    z-index:3;
    transition: max-height 0.5s ease-out;
}
#header .menu-btn{
    display:none;
}
#header ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    background-color:#fff;
}

#header ul a{
    display:block;
    padding:20px;
    text-decoration:none;
}

#header ul a:hover{
   background-color:rgb(17,134,230); 
   color:#fff;
}
#header #navMenu li{
    width: 100%;
    height: 14.285%;
    display: block;
    float:left;
}
#header li a{
    position: relative;
    height: 100%;
    display: block;
    padding:20px 30px;

}
.options{
    position: absolute;
    top: 37%;
    left: 30%;
}
.logo{
    color: #fff;
    text-decoration: none;
    float:left;
    display:block;
    font-size:2em;
    padding:10px 20px;
}
#header #navMenu{
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    border-left:5px solid rgb(17, 134, 230) ;
    box-shadow: 0px 0px 10px 4px rgb(0,0,0,.9);
    position: fixed;
    top: 0px;
    right:-230px;
    height: 100%;
    width: 300px;
    float: right;
    transition: right 0.8s ease-out;
    z-index: 5;
}
.icon {
    position: absolute;
    top: 27%;
    left: 5%;
}
/*=============================================================================*/
/*body start*/
/*=============================================================================*/
#dashboard{
    position:absolute;
    top: 10%;
    width: 95%;
    height: 300%;
}
#planner{
    position: absolute;
    top: 0%;
    left: 0;
    width: 16%;
    height: 66%;
}
#calender{
    position: absolute;
    top: 0%;
    right:0;
    width: 28%;
    height:18%;
}
#quickNotes{
    position: absolute;
    top:19%;
    right:0;
    width:28%;
    height: 47%;
}
#graphics{
    position: absolute;
    top: 0%;
    left:18%;
    width: 50%;
    height: 28%;
}
#overview{
    position: absolute;
    top: 29%;
    left:18%;
    width: 50%;
    height: 37%;
}
#diary{
    position: absolute;
    top: 67%;
    width: 98%;
    height: 31.5%;
}
#footer{
    background-color: rgb(16, 62, 100);
    color: #fff;
    position: absolute;
    top: 310%;
    width: 96%;
    height:30%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.9);
}
@media only screen and (max-width:700px) and (orientation:portrait){
    .desktop{
        display: none;
    }
    #header{
        border-bottom:5px solid rgb(17, 134, 230) ;
        box-shadow: 0px 0px 10px 4px rgb(0,0,0,.9);
        background-color: #fff;
        height: 3.5em;
        
    }
    .logo{
        color: #000;
        max-height: 100%;
        height: fit-content;
        float:left;
        display:block;
        font-size:2em;
        padding:10px 20px;
        text-decoration: none;
    }
    .logo p{
        font-size: 80%;
    }
    /*-nav btn animation-*/
    #header .menu-icon{
        padding: 28px 20px;
        position:relative;
        float:right;
        cursor: pointer;
    }
    
    #header .menu-icon .nav-icon{
        float: right;
        background:#333;
        display:block;
        height:2px;
        width:18px;
        position:relative;
        transition:background .2s ease-out;
    }
    
    #header .menu-icon .nav-icon:before{
        background:#333;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all .2s ease-out;
        top:5px;  
    
    }
    
    #header .menu-icon .nav-icon:after{
        background:#333;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all .2s ease-out;
        top:-5px;  
    
    }
    
    #header .menu-btn{
        display:none;
    }
    
    #header .menu-btn:checked ~ #navMenu{
        height:100%;
        background-color:rgb(17, 134, 230);
        transition-duration: 0.2s, 0.2s;
    }
    #header .menu-btn:checked ~ #header{
        height:100%;
    }
    
    #header .menu-btn:checked ~ .menu-icon .nav-icon{
        background:transparent;
    }
    #header .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        background: #fff;
        top:0;
    }
    #header .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        background: #fff;
        top:0;
    }
    /*nav bar*/
    #header #navMenu{
        position: relative;
        right: 0;
        left: 0;
        box-shadow: 0 0 0 0 rgba(0,0,0);
        background-color: #fff;
        width: 100%;
        height: 0;
       transition-property: height, background-color;
       transition-duration: 0.5s, 0.8s;
       transition-timing-function: ease-out;
    }
    
    #header #navMenu li{
        width: 100%;
        height: 100px;
        text-align: center;
        display: block;
    }
    #header li a{
        display: block;
        padding:20px 30px;
    }
    #header ul a{
        color: #fff;
        display:block;
        padding:20px;
        border-right:0px solid #aaa;
        text-decoration:none;
    }
    #header ul a:hover{ 
        color:rgba(0,0,0);
     }
    .options{
        position: relative;
        top: 0px;
        left: 0px;
    }
}
@media only screen and (max-width:700px) and (orientation:landscape){
    #header ul a{
        color: rgb(17, 134, 230);
    }
    #header ul a:hover{ 
        background-color: rgba(0, 0, 0, 0);
        color: rgb(17,134,230);
     }
     .icon{
         width: 8%;
     }

}


   