* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

html {
    background-color: #e5e5e5;
    color: #333;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.row {
    background-color: aqua;
    max-width: 1140px;
    margin: 0 auto;
}

header {

    background-size: cover;
    background-position: center;
    height: 100vh;
}

.project-name {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    font-size: 400%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border: solid #333 1px;
    border-radius: 200px;
    text-decoration: none;
    color: #333;
}

.btn-full {
    background-color: #e5e5e5;
    border: 1px solid #333;
}

.btn-ghost {
    border: 1px solid #333;
    background-color: cornflowerblue;
}