* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

/**
*   Minimal BG Color: #e5e5e5;
*   Base Color: #546de5
*   Base Darker Variant: #3754e1
*   Base Lighter Variant: #7186e9
*/

html {
    background-color: #ebedf0;
    color: #333;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    color: #333;
    background-color: #e3e6e9;
    font-size: 25px;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    -moz-box-shadow:    inset 0 0 2px #bac2ca;
    -webkit-box-shadow: inset 0 0 2px #bac2ca;
     box-shadow:         inset 0 0 2px #bac2ca;
}

nav ul li:active {
    background-color: #fff;
}

nav ul li:hover {
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
    color: #333;
}




