* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    transition: all .2s ease-out;
}
html {
    background-color: rgb(139, 194, 238);
    color: #333;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
.icon{
    max-width: 40px;
    float: left;
}
@media only screen and (max-width:700px) and (orientation:portrait){
    .icon{
        display: none;
    }
}
.dashDiv{
    background-color: #fff;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.3);
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    margin: 1%;
}