* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    transition: all .2s ease-out;
}
html {
    background-color: rgb(139, 194, 238);
    color: #333;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
.icon{
    max-width: 40px;
    float: left;
}
@media only screen and (max-width:700px) and (orientation:portrait){
    .icon{
        display: none;
    }
}